.container-home{
    display: flex;
    flex-wrap: wrap;
}

.card-home{
   padding: 4%;

}
.image-home{
    width: 350px;
    height: 350px;
}

.couch{
    display: flex;
   flex-direction: column;
   padding: 4%;
}

.image-detail{
    border-radius: 4%;
}

.FormCouch{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.field{
    padding: 3px;
    width: 400px;
}
