.ListCouches{
  background-color: rgb(199, 202, 201);
}
.Container-Intro {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1658887240445-f03ce58917b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  padding: 23%;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  color: white;
  gap: 15px;
}
.text-intro {
  align-items: center;
}
.input-intro {
  width: 400px;
}
.pic-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: small;
}

.container-home {
  display: flex;
  flex-wrap: wrap;
}

.card-home {
  padding: 0.5%;
}
.image-home {
  width: 460px;
  height: 350px;
  gap: 10px;
}

.couch {
  display: flex;
  flex-direction: column;
  padding: 4%;
  background-color: rgb(199, 202, 201);
}

.image-detail {
  border-radius: 4%;
}

.FormCouch {
  background-color: rgb(199, 202, 201); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.field {
  padding: 3px;
  width: 400px;
}


.couch-input{
  padding: 3px;
  width: 100px;
}

.container-reservations{
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  background-color:rgb(199, 202, 201) ;
}

.Input-Ranking{
  width: 200px;
  padding: 3px;
}

.HomePageMap{
 
     width: 600px;
		height: 600px; 
}


