/* .ListCouches{
  background-color: rgb(199, 202, 201);
} */

.Title{
  font-size: 80px;
  display: flex;
  align-content: center;
  justify-content: center;
}
.Slogan{
  display: flex;
  align-content: center;
  justify-content: center;
}

.Container-Intro {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1658887240445-f03ce58917b2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  padding: 300px 10px 300px; 
  /* background-position: 0 0; */
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  color: white;
  
 
}

.icon-img{
  width: 50px;
  height: 50px;
}
.icon-img-git{
  width: 40px;
  height: 40px;
  margin-left: 6px;
}

.pic-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: small;
}

.body {
  display: flex;
  flex-flow:  wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.image-home {
  width: 460px;
  height: 350px;
  gap: 10px;
}

.couch {
  display: flex;
  flex-direction: column;
  padding: 100px;
  background-color: rgb(199, 202, 201);
  gap: 10px;
}

.detail-user-and-image{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.image-detail {
  border-radius: 4%;

}

.image-detail-user {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.FormCouch {
  background-color: rgb(199, 202, 201); 
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 40px;
}
.field {
  padding: 3px;
  width: 400px;
}


.couch-input{
  width: 200px;
  border: 1px solid rgb(175, 188, 203);
  background-color: rgb(155, 171, 188);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 5px;
}

.container-reservationList{
  display: flex;
  flex-wrap: wrap;
}
.container-reservations{
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 5px;
  background-color: rgb(155, 171, 188);
  border: 3px solid  rgb(175, 188, 203);
  border-radius: 20px;
  margin: 50px;
  color: rgb(242, 237, 237);
}

.Input-Ranking{
  width: 200px;
  padding: 3px;
}

.HomePageMap{
 
     width: 600px;
		height: 600px; 
}

.hr{
  background-color:rgb(199, 202, 201) ;
}

.Title-Rate{
  margin-top: 70px;
}

.Button-Ranking{
  margin-bottom: 70px;
}

.detail-user{
  margin-top: 10px;
  font-size: large;
}
.detail-description{
border: 1px solid white;
padding: 10px;
border-radius: 10px;

}

.EditDeleteCouch{
  display: flex;
  flex-wrap: wrap;
 padding: 10px;
gap: 10px;
margin-left: 100px;
}

.container-evaluations{
  display: flex;
  flex-direction: column;
  padding: 7px;
  gap: 5px;
  background-color: rgb(155, 171, 188);
  border: 3px solid  rgb(175, 188, 203);
  border-radius: 5px;
  margin: 10px;
  color: rgb(242, 237, 237);
  width: 250px;
  height: 250px;
}

.couch-evaluations{
  display: flex;
  flex-wrap: wrap;
}

.couch-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

/* ------- Couches Cards ------ */

:root {
  --surface-color: rgb(255, 255, 255);
  --curve: 50;
  
}

* {
  box-sizing: border-box;
}

/*  .body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #000000;
} */

.cards {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: row;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none; 
}

.card {
  position: relative;
 
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}


.card__image {
  width: 500px;
  /*height: auto;*/
  height: 250px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
  opacity: 0.8;

}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-80%);
  transition: .1s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}       

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .4m;
  color: #383838;
}


.card__description {
  padding: 0 1em 2em;
  margin: 0;
  color: #070707;
  font-family: "MockFlowFont";   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}  


